/*  your css code here. If applicable */
.modal{
   display: none;           
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;  
    align-items: center;
    background: rgba(0,0,0,0.5);
}
.modal-header{
	background-color:green;
	height:50px;
	color:white;
}

.modal-content {
    background: white;
    padding: 20px;
}